################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pokemon-ui/.gitignore
/PokemonAPI/.vs
